.container_about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: fit-content;
    padding-bottom: 40px;
}


.about_card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 95%;
    flex-wrap: nowrap;
    height: fit-content;
    padding: 30px 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
}

.profile_imagecard_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-height: 200px;
    min-width: 170px;
}
.profile_imagecard_about2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 200px;
    min-width: 170px;
}

.about_defaultimage {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid black;
}

.profileimage_about {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.plusicon_about {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    bottom: 5px;
    right: 5px;
}

.about_profilebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.about_profilebutton button {
    height: 35px;
    width: 100px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #8224E3;
    color: #8224E3;
    border-radius: 10px;
}

.about_profilebutton button:hover {

    background-color: #8224E3;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}

.about_postcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@media only screen and (max-width: 450px) {
    .about_defaultimage {
        height: 80px;
        width: 80px;
    }

    .profileimage_about {
        height: 80px;
        width: 80px;
    }

    .plusicon_about {
        height: 20px;
        width: 20px;
    }
    .plusicon_about:hover{
        background-color: #8224E3;
    }

    .about_profilebutton button {
        height: 25px;
        width: 90px;
        font-size: 10px;
    }
    .h3aboutprofile{
        font-size: 10px;
    }
    .profile_imagecard_about2{
        
        width: fit-content;
        padding: 5px;
        min-height: 100px;
    }
    .about_postcard{
        font-size: 13px;
    }
    .about_card{
        gap: 5px;

    }
}
@media only screen and (max-width: 400px) {
    .about_card{
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }
}