.container1_banner_allpage {
    height: 80px;
    width: 100%;
    margin-top: 92px;
    background-color: rgb(255, 255, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.banner_text3 {
    color: #8224E3;
}

.banner_text1 {
    cursor: pointer;
}




/* contact start */
.container_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: fit-content;
}


.contact_card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 95%;
    height: fit-content;
    padding: 40px 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
}

.imageicon {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.imageicon img {
    height: 38px;
    width: 38px;
    border-radius: 50%;
}

.contact_image {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.contact_image img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.contact_image img:hover {
    background-color: #8224E3;
}

.contact_lable {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.contact_inner_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: fit-content;
    gap: 10px;
}

.contact_inner_card input,
.contact_inner_card textarea {
    width: 80%;
    padding: 5px;
    height: 35px;
    background-color: #f1e9f8f0;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact_inner_card2 {
    width: 81%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.contact_inner_card textarea {
    height: 80px;
}

@media only screen and (max-width: 850px) {
    .contact_inner_card2 {
        width: 100%;
    }

    .contact_inner_card input,
    .contact_inner_card textarea {
        width: 100%;
    }
}

@media only screen and (max-width: 670px) {
    .contact_inner_card2 {
        width: 100%;
        flex-wrap: wrap;

    }
}

.contact_card2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_card2 button {
    margin-top: 10px;
    background-color: #8224E3;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.contact_card2 button:hover {
    background-color: #8240c5;
}

/*  Contact page css end */



/* contact message page start */
.Whole_message_Div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.contact-cancle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 70%;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    transition: 2s all ease-in;
    background-color: rgba(201, 171, 232, 0.9);
}

.cancle-hide-banner {
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
}

.cancle-hide-banner:hover {
    color: rgb(0, 136, 255);
}

.container-contact-banner {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-height: 340px;
    gap: 15px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container-contact-banner::-webkit-scrollbar {
    width: 7px;
}

.container-contact-banner::-webkit-scrollbar-thumb {
    background: #8224E3;
    border-radius: 12px;
}



.contact-banner1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.1);
    word-wrap: normal;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
}

.contact-banner1 p {
    margin: 5px 0;
    text-align: center;
    word-wrap: break-word;
}

.contact-date {
    display: flex;
    justify-content: end;
    width: 95%;
    padding: 5px;
}


.contact_banner1_deleteicon {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: end;

}

.contact_banner1_deleteicon img {
    height: 20px;
    width: 20px;
    transition: 0.2s all ease-in;
}

.contact_banner1_deleteicon img:hover {
    transform: scale(1.2);
}




/* contact message page end */




/*  Register page css start here */

.container_register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
    height: fit-content;
    padding-bottom: 40px;
}


.register_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 95%;
    height: fit-content;
    padding: 30px 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
}

.line-register {
    width: 140px;
    height: 5px;
    border-radius: 10px;
    background-color: #8224E3;
}

.register_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.register_form input {
    width: 350px;
    padding: 5px 15px;
    height: 35px;
    background-color: #f1e9f8f0;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

.register_card2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_card2 button {
    margin-top: 10px;
    background-color: #8224E3;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.register_card2 button:hover {
    background-color: #8240c5;
}

.register_forget {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.register_forget h5 {
    cursor: pointer;
}

.register_forget h5:hover {
    color: #8224E3;
}



/* login page css start here  */


.container_login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
    height: fit-content;
    padding-bottom: 40px;
}


.login_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 95%;
    height: fit-content;
    height: 450px;
    padding: 30px 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
}

.line-login {
    width: 100px;
    height: 5px;
    border-radius: 10px;
    background-color: #8224E3;
}

.login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.login_form input {
    width: 350px;
    padding: 5px 15px;
    height: 35px;
    background-color: #f1e9f8f0;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

.login_card2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_card2 button {
    margin-top: 10px;
    background-color: #8224E3;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.login_card2 button:hover {
    background-color: #8240c5;
}

.login_forget {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.login_forget h5 {
    cursor: pointer;
}

.login_forget h5:hover {
    color: #8224E3;
}

@media only screen and (max-width: 430px) {
    .register_form input {
        width: 80%;
    }

    .login_form input {
        width: 80%;
    }
}